<header>
<nav>
	<ul class="menu">
		<li><a href="#">INICIO</a></li>
		<li><a routerLink="recargas">RECARGAS</a></li>
		<li><a routerLink="login">VENTAS DE PAQUETES DE VIAJES</a></li>
		<li><a href="#caja">CAJA</a></li>
		<li><a href="#vip">VIP</a></li>
		<li><a routerLink="contratacion">CONTRATACION DE EMPRESAS EXTERNAS</a></li>
    <li><a routerLink="bodega">BODEGA</a></li>

	</ul>
</nav>

<div class="logo">
<img src="https://preview.ibb.co/czBvwy/logo.png" width="400px" height="100px;">
</div>
</header>