<div class="row">
  <div class="col-md-1 col-sm-1 col-lg-1" style="background: #0085A0">
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3" style="background: #0085A0">
    <img style="width:250px; height:150px;" src="https://preview.ibb.co/cbhajJ/logo.png" alt="logo">
  </div>
  <div class="col-md-1 col-sm-1 col-lg-1" style="background: #0085A0">
  </div>
  <div class="col-md-7 col-sm-7 col-lg-7" style="background: #0085A0">
    <div class="contratacion">
      <h1 style="color:white; margin-top:50px">RECARGAS</h1>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12" style="background: #FFFFF">
    <br>
  </div>
</div>

<div class="row">
<div class="col-md-2 col-sm-2 col-lg-2"> </div>
<div class="col-md-8 col-sm-8 col-lg-8"> 

<button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink=""> Cerrar sesion</button>

<div class="registro">

<h1> Registro de Recargas </h1>
</div>
<br> <br>
<div class="registro1">
<form>
<div class="form-group">
<label for="exampleInputEmail1">Nombre </label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre ">
<small id="text" class="form-text text-muted"></small>
</div>

<div class="form-group">
<label for="exampleInputPassword1">Documento</label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="documento">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Celular</label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="celular">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Operador</label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="operador">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Valor</label>
<input type="integer" class="form-control" id="exampleInputPassword1" placeholder="$">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Fecha</label>
<input type="date" class="form-control" id="exampleInputPassword1" placeholder="dd/mm/aa">
</div>

<br> 
<div class="boton">
<button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="../" > Registrar</button>
<br> <br>
<button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="listaRecarga" > Ir a lista</button>
</div>

</form>
 


</div>
</div>
<div class="col-md-2 col-sm-2 col-lg-2"> 
<button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="../" > Saldo Actual</button>
<br> <br>
</div>
</div>